.git
.gitignore
node_modules
vendor
.env
.env.backup
.env.production
output.txt
phpunit-output.log
phpunit.xml
.phpunit.result.cache
.phpunit.cache
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.idea
.vscode
.fleet
